/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../sass/partials/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 49, ../sass/partials/_reset.scss */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-webkit-keyframes putBelow {
  /* line 2, ../sass/partials/animations.scss */
  0% {
    -webkit-transform: translate3d(0, -115px, 0);
    z-index: 100; }

  /* line 6, ../sass/partials/animations.scss */
  50% {
    -webkit-transform: translate3d(0, -130px, 0) rotateX(-20deg);
    z-index: 1; }

  /* line 10, ../sass/partials/animations.scss */
  100% {
    -webkit-transform: translate3d(0, -65px, 0);
    z-index: 1; } }

@-webkit-keyframes putAbove {
  /* line 17, ../sass/partials/animations.scss */
  0% {
    -webkit-transform: translate3d(0, -65px, 0); }

  /* line 20, ../sass/partials/animations.scss */
  50% {
    -webkit-transform: translate3d(0, -130px, 0) rotateX(-20deg); }

  /* line 23, ../sass/partials/animations.scss */
  100% {
    -webkit-transform: translate3d(0, -100px, 0); } }

@-webkit-keyframes paneDownUp {
  /* line 28, ../sass/partials/animations.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 31, ../sass/partials/animations.scss */
  50% {
    -webkit-transform: translate3d(0, 35px, 0); }

  /* line 34, ../sass/partials/animations.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes paneSwap {
  /* line 39, ../sass/partials/animations.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: blur(0);
    -webkit-animation-timing-function: ease-in; }

  /* line 44, ../sass/partials/animations.scss */
  50% {
    -webkit-transform: translate3d(1024px, 0, 0);
    -webkit-filter: blur(100px);
    -webkit-animation-timing-function: linear; }

  /* line 49, ../sass/partials/animations.scss */
  51% {
    -webkit-transform: translate3d(-1024px, 0, 0);
    -webkit-filter: blur(100px);
    -webkit-animation-timing-function: ease-out; }

  /* line 54, ../sass/partials/animations.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: blur(0);
    -webkit-animation-timing-function: linear; } }

@-webkit-keyframes toggleWell {
  /* line 62, ../sass/partials/animations.scss */
  0% {
    height: 60px; }

  /* line 65, ../sass/partials/animations.scss */
  50% {
    height: 0px; }

  /* line 68, ../sass/partials/animations.scss */
  100% {
    height: 60px; } }

/* line 11, ../sass/partials/_layout.scss */
body {
  background-color: #CCC;
  width: 100%;
  height: 100%; }

/* line 17, ../sass/partials/_layout.scss */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #FFF;
  -webkit-transition: background-color 0.4s; }
  /* line 25, ../sass/partials/_layout.scss */
  .wrapper .bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px; }
  /* line 33, ../sass/partials/_layout.scss */
  .wrapper .content {
    position: relative;
    z-index: 0;
    margin-top: 45px; }
    /* line 38, ../sass/partials/_layout.scss */
    .wrapper .content .dimmer {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      z-index: 200; }
    /* line 46, ../sass/partials/_layout.scss */
    .wrapper .content .lessonHeading {
      position: fixed;
      top: 60px;
      left: 0px;
      width: 100%; }
    /* line 52, ../sass/partials/_layout.scss */
    .wrapper .content .item {
      position: absolute;
      top: 245px;
      width: 205px;
      text-align: center;
      z-index: 1; }
      /* line 59, ../sass/partials/_layout.scss */
      .wrapper .content .item .circle {
        display: inline-block;
        width: 155;
        height: 155;
        border-radius: 77.5; }
      /* line 65, ../sass/partials/_layout.scss */
      .wrapper .content .item .title {
        display: inline-block; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i1 {
        left: 75px; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i2 {
        left: 280px; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i3 {
        left: 485px; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i4 {
        left: 690px; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i5 {
        left: 895px; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i6 {
        left: 1100px; }
      /* line 68, ../sass/partials/_layout.scss */
      .wrapper .content .item.i7 {
        left: 1305px; }
    /* line 70, ../sass/partials/_layout.scss */
    .wrapper .content .startClass {
      z-index: 300;
      position: fixed;
      top: 75px;
      right: 0px;
      height: 55px;
      width: 200px;
      cursor: pointer;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
      background-color: #f37321;
      -webkit-transform: translate3d(158px, 0, 0);
      -webkit-transition: all 0.4s; }
      /* line 84, ../sass/partials/_layout.scss */
      .wrapper .content .startClass .handle, .wrapper .content .startClass .starter {
        z-index: 1000;
        position: absolute;
        top: 0px;
        height: 100%;
        line-height: 55px;
        text-transform: uppercase;
        padding-left: 10px; }
      /* line 93, ../sass/partials/_layout.scss */
      .wrapper .content .startClass .handle {
        left: 0px;
        background-color: #c1540e;
        width: 38px;
        color: #ef7120;
        -webkit-transform: scale(0, 110, 0);
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; }
      /* line 102, ../sass/partials/_layout.scss */
      .wrapper .content .startClass .starter {
        left: 38px;
        background-color: #f37321;
        color: #FFF;
        padding: 0 30px 0 15px;
        margin-left: 5px; }
      /* line 109, ../sass/partials/_layout.scss */
      .wrapper .content .startClass.active {
        -webkit-transform: translate3d(0, 0, 0); }
    /* line 113, ../sass/partials/_layout.scss */
    .wrapper .content .well {
      position: absolute;
      top: 340px;
      z-index: 100;
      width: 205px;
      margin-left: 12.5px;
      text-align: center;
      color: FFF;
      height: 0px;
      overflow: hidden; }
      /* line 123, ../sass/partials/_layout.scss */
      .wrapper .content .well div {
        border-radius: 90;
        width: 180;
        height: 180;
        background-color: #8c4641;
        position: absolute;
        bottom: 0px; }
    /* line 132, ../sass/partials/_layout.scss */
    .wrapper .content .pane {
      position: fixed;
      left: 0px;
      right: 0px;
      top: 345px;
      background-color: #fff;
      bottom: 0px;
      padding: 80px 60px 0 60px;
      z-index: 10;
      -webkit-transform: translate3d(0, 100%, 0);
      -webkit-transition: all 0.4s; }
      /* line 144, ../sass/partials/_layout.scss */
      .wrapper .content .pane .close {
        position: absolute;
        top: 80px;
        right: 55px;
        font-size: 45px;
        line-height: 35px;
        color: #eeebeb;
        cursor: pointer; }
        /* line 152, ../sass/partials/_layout.scss */
        .wrapper .content .pane .close:hover {
          color: #CCC; }

/* line 161, ../sass/partials/_layout.scss */
.wrapper.dimmed {
  background-color: #ccdfe4; }
/* line 167, ../sass/partials/_layout.scss */
.wrapper .content .item .circle {
  -webkit-transition: all 0.4s;
  -webkit-transform: scale3d(1, 1, 1); }
/* line 171, ../sass/partials/_layout.scss */
.wrapper .content .item.shifted {
  -webkit-transform: translate3d(0, -65px, 0); }
  /* line 173, ../sass/partials/_layout.scss */
  .wrapper .content .item.shifted .title {
    opacity: 0; }
/* line 179, ../sass/partials/_layout.scss */
.wrapper .content .item.selected {
  -webkit-transform: translate3d(0, -100px, 0);
  z-index: 100; }
  /* line 182, ../sass/partials/_layout.scss */
  .wrapper .content .item.selected .circle {
    -webkit-transform: scale3d(1.16, 1.16, 1.16); }
/* line 187, ../sass/partials/_layout.scss */
.wrapper .content .well {
  -webkit-transition: height 0.4s; }
  /* line 189, ../sass/partials/_layout.scss */
  .wrapper .content .well.shown {
    height: 60px; }
/* line 194, ../sass/partials/_layout.scss */
.wrapper .content .pane.up {
  -webkit-transform: translate3d(0, 0px, 0);
  -webkit-transition-delay: 0;
  -webkit-animation-timing-function: ease-in-out; }

/* line 1, ../sass/partials/_content.scss */
body {
  font-family: "Helvetica Neue"; }

/* line 7, ../sass/partials/_content.scss */
.item .circle.bluebg {
  background-color: #75bdd8; }
/* line 10, ../sass/partials/_content.scss */
.item .circle.greenbg {
  background-color: #9fda87; }
/* line 13, ../sass/partials/_content.scss */
.item .circle.redbg {
  background-color: #ea7f8b; }
/* line 16, ../sass/partials/_content.scss */
.item .circle.yellowbg {
  background-color: #ecac5a; }
/* line 20, ../sass/partials/_content.scss */
.item.selected .circle.bluebg {
  background-color: #47b6e0; }
/* line 23, ../sass/partials/_content.scss */
.item.selected .circle.greenbg {
  background-color: #66c93d; }
/* line 26, ../sass/partials/_content.scss */
.item.selected .circle.redbg {
  background-color: #f73f54; }
/* line 29, ../sass/partials/_content.scss */
.item.selected .circle.yellowbg {
  background-color: #ee9b30; }

/* line 36, ../sass/partials/_content.scss */
.wrapper .bar {
  background-color: #2a2a2b;
  color: #fff; }
  /* line 39, ../sass/partials/_content.scss */
  .wrapper .bar .burger {
    display: inline-block;
    font-size: 45px;
    color: #CCC;
    line-height: 35px;
    padding: 0 10px;
    height: 45px; }
    /* line 46, ../sass/partials/_content.scss */
    .wrapper .bar .burger:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer; }
/* line 54, ../sass/partials/_content.scss */
.wrapper .lessonHeading {
  text-align: center; }
  /* line 56, ../sass/partials/_content.scss */
  .wrapper .lessonHeading h4 {
    margin-top: 10px; }
  /* line 59, ../sass/partials/_content.scss */
  .wrapper .lessonHeading h2 {
    margin-top: 10px; }
/* line 63, ../sass/partials/_content.scss */
.wrapper .item {
  cursor: pointer;
  text-align: center;
  color: #77787b; }
  /* line 68, ../sass/partials/_content.scss */
  .wrapper .item .circle {
    margin-bottom: 15px; }
  /* line 72, ../sass/partials/_content.scss */
  .wrapper .item .title {
    width: 155;
    padding: 0 10px; }
/* line 78, ../sass/partials/_content.scss */
.wrapper .pane .paneText {
  padding-top: 40px; }
  /* line 80, ../sass/partials/_content.scss */
  .wrapper .pane .paneText p {
    width: 40%; }

/* line 88, ../sass/partials/_content.scss */
h4 {
  font-size: 14px;
  color: #444444; }

/* line 92, ../sass/partials/_content.scss */
h2 {
  font-size: 22px;
  color: #444444; }

/* line 97, ../sass/partials/_content.scss */
.big, .medium, .small, .smaller {
  line-height: 1.35; }

/* line 100, ../sass/partials/_content.scss */
.big {
  font-size: 18px;
  padding-top: 6px; }

/* line 104, ../sass/partials/_content.scss */
.medium {
  font-size: 16px;
  padding-top: 4px; }

/* line 108, ../sass/partials/_content.scss */
.small {
  font-size: 14px;
  padding-top: 4px; }

/* line 112, ../sass/partials/_content.scss */
.smaller {
  font-size: 12px;
  padding-top: 4px; }

/* line 116, ../sass/partials/_content.scss */
.caps {
  text-transform: uppercase; }

/* line 119, ../sass/partials/_content.scss */
.grey {
  color: #77787b; }

/* line 122, ../sass/partials/_content.scss */
.lightgrey {
  color: #b6b6b6; }

/* line 125, ../sass/partials/_content.scss */
.red {
  color: #f73f54; }

/* line 128, ../sass/partials/_content.scss */
.bold {
  font-weight: bold; }
