<div class="wrapper">
    <div class="bar">
        <div class="burger">
            &equiv;
        </div>
    </div>

    <div class="content">
        <div class="lessonHeading">
            <h4 class='caps grey'>Lesson 3</h4>
            <h2 class='bold'>Title of the Lesson Goes Here</h2>
        </div>

        <div class="startClass" ng-click="stubClicked()" ng-class="{active: startRevealed}">
            <div class='handle' ng-click="startRevealed = !startRevealed">
                <div ng-hide="startRevealed"><</div>
                <div ng-show="startRevealed">></div>
            </div>
            <div class='starter' ng-click="startClicked = !startClicked; startRevealed = false">
                <span ng-hide="startClicked">Start Class</span>
                <span ng-show="startClicked">Stop Class</span>
            </div>
        </div>

        <div amp-Fade="dimmed" amp-Fade-Length="400" ng-click="dimmerClicked()" class="dimmer"> </div>

        <div class="item i1" data-index="0">
            <div class="circle bluebg"></div>
            <div class="title medium bold">Vocab Warm Up</div>
        </div>
        <div class="item i2" data-index="1">
            <div class="circle greenbg"></div>
            <div class="title medium bold">Define Showing</div>
        </div>
        <div class="item i3" data-index="2">
            <div class="circle redbg"></div>
            <div class="title medium bold">Examples of Showing</div>
        </div>
        <div class="item i4" data-index="3">
            <div class="circle yellowbg"></div>
            <div class="title medium bold">Picture Precise Locations</div>
        </div>
        <div class="item i5" data-index="4">
            <div class="circle redbg"></div>
            <div class="title medium bold">Writing Time Sharing</div>
        </div>
        <div class="item i6" data-index="5">
            <div class="circle bluebg"></div>
            <div class="title medium bold">Rocket Science</div>
        </div>
        <div class="item i7" data-index="6">
            <div class="circle yellowbg"></div>
            <div class="title medium bold">Exobiotics</div>
        </div>

        <div class="well" ng-class="{shown: startClicked && paneOpened}">
            <div>drag here to activate</div>
        </div>

        <div class="pane">
            <div class="close" ng-click="paneCloseClicked()">&#215;</div>
            <div class="content">
                <h2 class="bold">
                    {{ currentPane.title }}
                </h2>
                <div class='small red bold'>{{ currentPane.time }} min</div>


                <div class='paneText'>
                    <div class="smaller caps grey bold">what</div>
                    <p class="big grey">
                        Help students notice how Dahl uses vivid details to show us the character of Mrs.Pratchett
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>