$barHeight: 45px;

$blue: #75bdd8;
$green: #9fda87;
$red: #ea7f8b;
$yellow: #ecac5a;
$bright_blue: #47b6e0;
$bright_green: #66c93d;
$bright_red: #f73f54;
$bright_yellow: #ee9b30;

$dimmed: #ccdfe4;

$font_regular: #444444;
$font_grey: #77787b;
$font_lightgrey: #b6b6b6;
$font_red: #f73f54;

$transition_length: 0.4s;

// Starter puller
$starter_orange: #f37321;
$starter_dark_orange: #c1540e;