body{
  font-family: "Helvetica Neue";
}

.item{

  .circle.bluebg{
    background-color: $blue;
  }
  .circle.greenbg{
    background-color: $green;
  }
  .circle.redbg{
    background-color: $red;
  }
  .circle.yellowbg{
    background-color: $yellow;
  }
  &.selected{
    .circle.bluebg{
      background-color: $bright_blue;
    }
    .circle.greenbg{
      background-color: $bright_green;
    }
    .circle.redbg{
      background-color: $bright_red;
    }
    .circle.yellowbg{
      background-color: $bright_yellow;
    }
  }
}

.wrapper{
  .bar{
    background-color: #2a2a2b;
    color: #fff;
    .burger{
      display: inline-block;
      font-size: 45px;
      color: #CCC;
      line-height: 35px;
      padding: 0 10px;
      height: $barHeight;
      &:hover{
        background: rgba(255,255,255,0.1);
        cursor: pointer;
      }
    }
  }


  .lessonHeading{
    text-align: center;
    h4{
      margin-top: 10px;
    }
    h2{
      margin-top: 10px;
    }
  }
  .item{
    cursor: pointer;
    text-align: center;
    color: $font_grey;

    .circle{
      margin-bottom: 15px;
    }

    .title{
      width: $circle_radius;
      padding: 0 10px;
    }
  }
  .pane{
    .paneText{
      padding-top: 40px;
      p{
        width: 40%;
      }
    }
  }
}


h4{
  font-size: 14px;
  color: $font_regular;
}
h2{
  font-size: 22px;
  color: $font_regular;
}

.big, .medium, .small, .smaller{
  line-height: 1.35;
}
.big{
  font-size: 18px;
  padding-top: 6px;
}
.medium{
  font-size: 16px;
  padding-top: 4px;
}
.small{
  font-size: 14px;
  padding-top: 4px;
}
.smaller{
  font-size: 12px;
  padding-top: 4px;
}
.caps{
  text-transform: uppercase;
}
.grey{
  color: $font_grey;
}
.lightgrey{
  color: $font_lightgrey;
}
.red{
  color: $font_red;
}
.bold{
  font-weight: bold;
}