$circle_radius: 155;
$circle_radius_selected: 180;
$circle_spacing: 50px;
$left_offset: 75px;
$circles: 7;

@mixin itemPosition($index) {
  left: $index * ($circle_radius + $circle_spacing) + $left_offset;
}

body{
  background-color: #CCC;
  width: 100%;
  height: 100%;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #FFF;
  -webkit-transition: background-color $transition_length;

  .bar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $barHeight;
  }

  .content{
    position: relative;
    z-index: 0;
    margin-top: 45px;

    .dimmer{
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.4);
      z-index: 200;
    }

    .lessonHeading{
      position: fixed;
      top: 60px;
      left: 0px;
      width: 100%;
    }
    .item{
      position: absolute;
      top: 245px;
      width: $circle_radius + $circle_spacing;
      text-align: center;
      z-index: 1;

      .circle{
        display: inline-block;
        width: $circle_radius;
        height: $circle_radius;
        border-radius: $circle_radius/2;
      }
      .title{
        display: inline-block;
      }
      &.i1{ @include itemPosition(0); }      &.i2{ @include itemPosition(1); }      &.i3{ @include itemPosition(2); }      &.i4{ @include itemPosition(3); }      &.i5{ @include itemPosition(4); }      &.i6{ @include itemPosition(5); }      &.i7{ @include itemPosition(6); }
    }
    .startClass{
      z-index: 300;
      position: fixed;
      top: 75px;
      right: 0px;
      height: 55px;
      width: 200px;
      cursor: pointer;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
      background-color: $starter_orange;
      -webkit-transform: translate3d(158px,0,0);
      -webkit-transition: all $transition_length;
      .handle, .starter{
        z-index: 1000;
        position: absolute;
        top: 0px;
        height: 100%;
        line-height: 55px;
        text-transform: uppercase;
        padding-left: 10px;
      }
      .handle{
        left: 0px;
        background-color: $starter_dark_orange;
        width: 38px;
        color: #ef7120;
        -webkit-transform: scale(0,110,0);
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      .starter{
        left: 38px;
        background-color: $starter_orange;
        color: #FFF;
        padding: 0 30px 0 15px;
        margin-left: 5px;
      }
      &.active{
        -webkit-transform: translate3d(0,0,0);
      }
    }
    .well{
      position: absolute;
      top: 340px;
      z-index: 100;
      width: $circle_radius + $circle_spacing;
      margin-left: ($circle_radius + $circle_spacing - $circle_radius_selected)/2;
      text-align: center;
      color: FFF;
      height: 0px;
      overflow: hidden;
      div{
        border-radius: $circle_radius_selected/2;
        width: $circle_radius_selected;
        height: $circle_radius_selected;
        background-color: #8c4641;
        position: absolute;
        bottom: 0px;
      }
    }
    .pane{
      position: fixed;
      left: 0px;
      right: 0px;
      top: 300px + $barHeight;
      background-color: #fff;
      bottom: 0px;
      padding: 80px 60px 0 60px;
      z-index: 10;
      -webkit-transform: translate3d(0,100%,0);
      -webkit-transition: all $transition_length;

      .close{
        position: absolute;
        top: 80px;
        right: 55px;
        font-size: 45px;
        line-height:35px;
        color: #eeebeb;
        cursor: pointer;
        &:hover{
          color: #CCC;
        }
      }
    }
  }
}

.wrapper{
  &.dimmed{
    background-color: $dimmed;
  }
  .content{

    .item{
      .circle{
        -webkit-transition: all $transition_length;
        -webkit-transform: scale3d(1, 1, 1);
      }
      &.shifted{
        -webkit-transform: translate3d(0,-65px,0);
        .title{
          opacity: 0;
        }
      }
      &.shifted.selected{
      }
      &.selected{
        -webkit-transform: translate3d(0,-100px,0);
        z-index: 100;
        .circle{
          -webkit-transform: scale3d(1.16, 1.16, 1.16);
        }
      }
    }
    .well{
      -webkit-transition: height $transition_length;
      &.shown{
        height: 60px;
      }
    }
    .pane{
      &.up{
        -webkit-transform: translate3d(0,0px,0);
        -webkit-transition-delay: 0;
        -webkit-animation-timing-function: ease-in-out;
      }
    }
  }
}