@-webkit-keyframes putBelow {
  0% {
    -webkit-transform: translate3d(0,-115px,0);
    z-index: 100;
  }
  50% {
    -webkit-transform: translate3d(0,-130px,0) rotateX(-20deg);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate3d(0,-65px,0);
    z-index: 1;
  }
}

@-webkit-keyframes putAbove {
  0% {
    -webkit-transform: translate3d(0,-65px,0);
  }
  50% {
    -webkit-transform: translate3d(0,-130px,0) rotateX(-20deg);
  }
  100% {
    -webkit-transform: translate3d(0,-100px,0);
  }
}
@-webkit-keyframes paneDownUp {
  0% {
    -webkit-transform: translate3d(0,0,0);
  }
  50% {
    -webkit-transform: translate3d(0,35px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes paneSwap {
  0% {
    -webkit-transform: translate3d(0,0,0);
    -webkit-filter: blur(0);
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(1024px,0,0);
    -webkit-filter: blur(100px);
    -webkit-animation-timing-function: linear;
  }
  51% {
    -webkit-transform: translate3d(-1024px,0,0);
    -webkit-filter: blur(100px);
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    -webkit-filter: blur(0);
    -webkit-animation-timing-function: linear;
  }
}

@-webkit-keyframes toggleWell {
  0% {
    height: 60px;
  }
  50% {
    height: 0px;
  }
  100% {
    height: 60px;
  }
}